<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/photo-project.css">
</head>
<body>
<main>
  <div class="photo-links">
    <a href="add-photo">Add Photo</a>
  </div>
  <main>
    <% if (photos.length > 0) { %>
        <div class="grid">
            <% for (let photo of photos) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= photo.fileName %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= photo.photoUrl %>"
                            alt="<%= photo.fileName %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price"><%= photo.dateTimeTaken %></h2>
                        <p class="product__description"><%= photo.location %></p>
                    </div>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>
</main>




<!-- <img src="https://dl.dropboxusercontent.com/s/q2eqiuwa3pgitrm/EX000002.JPG" alt=""> -->

<%- include('../includes/footer.ejs') %>
